spring.r2dbc.url=
spring.r2dbc.username=
spring.r2dbc.password=
secret=
accessExpire=
refreshExpire=

# email
spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=
spring.mail.properties.mail.smtp.starttls.enable=

spring.thymeleaf.cache=
spring.thymeleaf.enabled=
spring.thymeleaf.prefix=
spring.thymeleaf.suffix=

cloud.aws.s3.bucket=
cloud.aws.credentials.access-key=
cloud.aws.credentials.secret-key=
cloud.aws.region.static=
cloud.aws.region.auto=
cloud.aws.stack.auto=
cloud.aws.s3.bucket.url=
cloud.aws.s3.bucket.my.download.url=